body {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 10%;
}

button {
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;
}

img {
    width: 30px;
    height: 30px;
}

body.dark_mode {
    background-color: black;
    color: white;
  }

body.light_mode {
    background-color: white;
    color: black;
}
